
  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-field">
        <%= f.label :username %>
        <%= f.text_field :username, :class => "field" %>
        <br/>
        <%= f.label :email %><br>
        <%= f.text_field :email, :class => "field" %>
        <br/>
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => "field" %>
        <br/>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "field" %>
        <br/>
        <%= f.submit "Submit", :class => "login-button button" %>
        <p>Already a User? <%= link_to 'Login', login_path %></p>
      </div>
  <% end %>
