<div class="form-container">
<%= form_for(@goal) do |f| %>
  <h1>Create a New Goal</h1>
    <%= f.text_field :title, :placeholder => 'Title', :class => "field" %>
    <br/>
    <%= f.text_area :body, :placeholder => 'Description', :class => "field" %>
    <br/>
    <%= f.text_field :deadline, class: 'datepicker', :class => "field" %>
    <br/>
    <%= f.submit "Submit", :class => "button" %>
  <% end %>
</div>
