<div class="form-container">
<%= form_for(@goal) do |f| %>
    <h1>Create a New Goal</h1>
      <div class="input-field">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "field" %>
        <br/>
        <%= f.label :description %>
        <%= f.text_area :body, :class => "field" %>
        <br/>
        <%= f.label :accomplish_by %>
        <%= f.date_field :deadline %>
        <br/>
        <%= f.submit "Submit", :class => "button" %>
      </div>
<% end %>
</div>
