
<div class="outer-container">
  <div class="goal-container">
    <h1><%= @goal.title %></h1>
    <span><%= @goal.created_at.strftime("%b %d, %Y") %></span>
    <div class="line"></div>
    <p>
      <%= @goal.body %>
    </p>
    <%= link_to "EDIT", edit_goal_path(@goal), class: "button" %>
    <%= button_to "COMPLETED", goal_path(@goal), class: "button", method: :delete, data: {confirm: "Confirm that you want to delete the goal."} %>
    <%= button_to "Back to Goals", goals_path, class: "button", :method => :get %>
  </div>

  <div class="notes-container">
    <div class="note-form">
    <%= render partial: 'notes/form' %>
    </div>

    <% @goal.notes.each do |note| %>
    <div class="notes">
      <h3>Note:</h3>
      <%= note.body %>
      <p>Posted <%= note.goal.created_at.strftime("%m/%d/%y") %></p>
    </div>
    <% end %>
  </div>
</div>
