
<div class="outer-container">
  <div class="goal-container">
    <h1><%= @goal.title %></h1>
    <div class="line"></div>
    <p>
      <%= @goal.body %>
    </p>
    <%= link_to "EDIT", edit_goal_path(@goal), class: "button" %>
    <%= button_to "COMPLETED", goal_path(@goal), class: "button", method: :delete, data: {confirm: "Confirm that you want to delete the goal."} %>
    <%= button_to "Back to Goals", goals_path, class: "button", :method => :get %>
  </div>

  <div class="notes-container">
    <%= render partial: 'notes/form' %>
    <h3>Notes:</h3>
    <%= render partial: 'goals/note', collection: @goal.notes %>
  </div>
</div>
